<div class="container">

    <div class="row">
      <div class="col-md-12 py-3"> 
        <ngb-carousel *ngIf="movies">
          <ng-template ngbSlide *ngFor="let m of movies">
            <img [src]="m.backdrop_path" alt="m.title" class="film">
            <div class="carousel-caption">
              <h3>{{ m.title }}</h3>
              <h5><img src="https://raw.githubusercontent.com/tina7ti/SiteMovies/master/src/assets/images/star.png" alt="star" id="star"> {{m.vote_average}} / 10</h5>            
              <p [innerText]="m.overview"></p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
